# Dart and Flutter specific
*.iml
*.class
*.jar
*.war
*.ear
*.log

# macOS
.DS_Store

# Android
build/
.gradle/
local.properties
/.idea/
/.android/

# iOS
Pods/
Podfile.lock
*.xcworkspace/
*.pbxproj
!default.pbxproj
/build/
!ios/Runner/GeneratedPluginRegistrant.*

# Flutter specific
*.flutter-plugins
*.flutter-plugins-dependencies
**/ios/**/Flutter/**/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/AppFrameworkInfo.plist
**/ios/Flutter/flutter_export_environment.plist
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.packages
.pub/
.pub-cache/
/build/
/captures/
/generated/
/web/
*.fst

# Other
*.lock
*.swp
*~
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
